body {
	background-color: #F7FDFF;
}

.navbar-clazzam {
	background-color: #196AFF;
	border-color: #196AFF;
}

.navbar-clazzam a:hover, navbar-clazzam a:focus {
	background-color: #003390;
}

.navbar-brand {
	font-size: 20px;
	color: #E8F9FF;
}

.navbar-clazzam .collapse a {
	color: #E8F9FF;
	font-size: 16px;
}

.navbar-clazzam > .container > .container-fluid > .collapse > ul > li > a:hover,
.navbar-clazzam > .container > .container-fluid > .collapse > ul > li > a:focus {
	background-color: #003390;
	color: #E8F9FF;
}

.icon-bar {
	background-color: #E8F9FF;
}

.navbar-toggle {
	border-width: 1px;
	border-color: #E8F9FF;
}

.navbar-toggle:hover {
	background-color: #003390;
}

.welcome-img img {
	margin-left: auto;
	margin-right: auto;
	max-width: 60%;
}

.login-form, .welcome-img {
	padding: 5%;
	box-sizing: border-box;
}

.welcome-img h1 {
	font-size: 25px;
	font-weight: bold;
}

.welcome-img p {
	font-size: 18px;
}

.login-form .form-control{
	margin-top: 5px;
	margin-bottom: 20px;
}

.login-form .input-group .btn-primary {
	float: right;
}

.login-form .panel {
	position: absolute;
	top: 50%;
	margin-left: auto;
	margin-right: auto;
}